# macOS
.DS_Store

# Xcode user data
xcuserdata/
**/xcuserdata/
*.xcuserstate

# Xcode build products and intermediates
build/
DerivedData/
*.moved-aside
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Archives and logs
*.xcarchive
*.ipa
*.dSYM.zip
*.dSYM
